[user]
    name = Yannis Chatzimichos
    email = feedward@gmail.com
[color]
    ui = auto
[alias]
    amend = commit --amend
    br = branch
    c = commit
    co = checkout
    di = diff
    l = log --graph --abbrev-commit --date=relative --format='%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(green)(%ar) %C(bold blue)<%an>%Creset'
    last = log -1 HEAD
    p = push
    pl = pull
    x = checkout HEAD
[merge]
    tool = vimdiff
[color "branch"]
    current = yellow reverse
[core]
	pager = less
