[user]
    name = Yannis Chatzimichos
    email = feedward@gmail.com
[color]
    ui = auto
[alias]
    amend = commit --amend
    co = checkout
    c = commit
    p = push
    di = diff
    pl = pull
    last = log -1 HEAD
[merge]
    tool = vimdiff
[color "branch"]
    current = yellow reverse
